<h1>Tasks:</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <strong><%= link_to task.title, task_path(task) %></strong>
      <%= link_to check_box_tag(:task, :completed, task.completed), 
                "/tasks/#{task.id}/complete/#{!task.completed}" %>
    </li>
  <% end %>
</ul> 

<%= link_to 'New Task', new_task_path %>