<h1>Tasks#index</h1>
<p>Tasks go here:</p>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <h3><strong><%= task.title %></strong></h3>
      <p><em><%= task.details %></em></p>
      <%= link_to "Edit", edit_task_path(task) %>
    </li>
  <% end %>
</ul> 

<%= link_to 'New Task', new_task_path %>